extends layouts/layout

block content
    main.container
      div.btn-main
        a.button-box(href="/pacientesMain") Pacientes
        a.button-box(href="/secretaria") Secretaria
    div.admin-box
        a.btn-admin(href="/admin") Administrador
