extends layouts/layout

block content
  h1= title
  form(action="/pacientes" method="POST")
    div
      label(for="nombre") Nombre:
      input(type="text" name="nombre" required)
    div
      label(for="apellido") Apellido:
      input(type="text" name="apellido" required)
    div
      label(for="dni") DNI:
      input(type="text" name="dni" required)
    div
      label(for="fecha_nacimiento") Fecha de Nacimiento:
      input(type="date" name="fecha_nacimiento" required)
    div
      label(for="telefono") Teléfono:
      input(type="text" name="telefono")
    div
      label(for="email") Email:
      input(type="email" name="email")
    div
      label(for="obra_social") Obra Social:
      input(type="text" name="obra_social")
    div
      button(type="submit") Agregar Paciente

    if newPaciente
      br
      br
      p.pacient Paciente ha sido agregado exitosamente.
  
    a(href="/") Volver
