extends ../layouts/layout

block content
    h1 Nuevo Médico
    .form-container
        form(action="/admin/medicos" method="POST")
            .column
                div
                    label(for="nombre") Nombre:
                    input(type="text" name="nombre" required)
                div
                    label(for="apellido") Apellido:
                    input(type="text" name="apellido" required)
                div
                    label(for="dni") DNI:
                    input(type="text" name="dni" required)    
                div
                div
                    label(for="telefono") Teléfono:
                    input(type="text" name="telefono")
                div
                    label(for="email") Email:
                    input(type="email" name="email")
                div 
                    label(for="sucursal") Sucursal
                    select(name="sucursal_id" required)
                        each sucursal in sucursales
                            option(value=sucursal.id) #{sucursal.nombre}
                div
                    label(for="especialidad") Especialidad:
                    select(name="especialidad_id" required)
                        each especialidad in especialidades
                            option(value=especialidad.id) #{especialidad.nombre}
            .column

                div
                    label(for="matricula") Matrícula:
                    input(type="text" name="matricula")

                button(type="submit") Agregar Médico    
            a.back-button(href="/admin") Volver
