extends ../layouts/layout

block content
    h1 Controlador Administrador
    .button-container
        a.button(href="/admin/medicos") Nuvo medico
        a.button(href="/admin/Allmedicos") Modificar medicos
        a.button(href="/admin/agenda") Agenda de medicos
        a.back-button(href="/") ↩️ Volver
