extends ../layouts/layout

block content
  h1.text-center.mb-4 Bienvenida, Secretaria
  hr
  .d-grid.gap-3
    a.btn.btn-primary.btn-lg(href="/secretaria/agregar-paciente") Agregar Paciente
    a.btn.btn-secondary.btn-lg(href="/secretaria/lista-pacientes") Ver Lista de Pacientes
    a.btn.btn-info.btn-lg(href="/secretaria/consultar-agendas") Consultar Agendas
  a(href="/") â†©ï¸ Volver