extends ../layouts/layout

block content
  h1 Vista de Secretaria
  .button-container
    a.button(href="/secretaria/pacientes") Agregar Paciente
    a.button(href="/secretaria/turnos-disponibles") Ver Turnos Disponibles
    a.button(href="/secretaria/reservar-turno") Solicitar Reserva