extends ../layouts/layout

block content
  h1= title
  if error
    p.error= error
  form(action="/paciente/registrarse" method="POST" enctype="multipart/form-data")
    div
      label(for="nombre") Nombre:
      input(type="text" id="nombre" name="nombre" required)
    div
      label(for="apellido") Apellido:
      input(type="text" id="apellido" name="apellido" required)
    div
      label(for="dni") DNI:
      input(type="text" id="dni" name="dni" required)
    div
      label(for="fecha_nacimiento") Fecha de Nacimiento:
      input(type="date" id="fecha_nacimiento" name="fecha_nacimiento" required)
    div
      label(for="telefono") Teléfono:
      input(type="tel" id="telefono" name="telefono")
    div
      label(for="email") Email:
      input(type="email" id="email" name="email")
    div
      label(for="obra_social") Obra Social:
      input(type="text" id="obra_social" name="obra_social")
    div
      label(for="dni_copia") Copia del DNI (JPG, PNG o PDF):
      input(type="file" id="dni_copia" name="dni_copia" accept=".jpg,.jpeg,.png,.pdf")
    div
      button(type="submit") Registrar Paciente

    a.back-button(href="/") ↩️ Volver